@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
}

input{
    margin-top: 100px;
    padding: 1em;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    border: solid black;
    border-radius: 50px;
}

.input-container{
    display: flex;
    justify-content: space-evenly;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

#submitButton{
    display: flex;
    justify-content: center;
}

#submitButton button{
    padding: 1em;
    font-size: 0.8em;
    font-family: 'Poppins', sans-serif;
    border: solid black;
    border-radius: 50px;
    transition: .2s;
}

#submitButton button:hover{
    letter-spacing: 5px;
}

#submitButton button:focus{
    font-weight: 1000;
    border: solid rgb(82, 82, 82);
}

.checked-button{
    padding: 10px 10px 10px 10px;
    background-color: rgb(64, 255, 47);
    font-weight: 1000;
    font-size: 1.5em;
    border-color: black;
    border-style: none;
    border-radius: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 10px;
}

.checked-button:hover{
    background-color: rgb(55, 199, 42);
}

.product{
    font-weight: 1000;
    font-size: 2em;
    letter-spacing: 2.5px;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 10px;
}

.amount{
    font-weight: 1000;
    font-size: 2em;
    letter-spacing: 2.5px;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 10px;
}

.grid-product-amount{
    display: flex;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 1000;
    font-size: 2em;
    justify-content: space-evenly;
}

#result{
    display: flex;
    justify-content: space-evenly;
}