@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
.custom-bg{
    background-color: rgb(255, 159, 114);
}

.submit-ans-product{
    color: black;
    font-family: 'Roboto Slab', serif;
    font-size: 2.5em;
    text-decoration: none;
    text-align: start;
}

.submit-ans-amt{
    color: black;
    font-family: 'Roboto Slab', serif;
    font-size: 2.5em;
    text-decoration: none;
    text-align: end;
}

.submit-ans:hover{
    color: black;
}

header{
    color: rgb(0, 0, 0);
    text-align: center;
}